<section>
  <div class= "col-md-12">
    <div class="col-md-6">
      
    <%=render "parcial/carousel"%>
    </div>
    <div class="col-md-6">
      <%= render "parcial/maps"  %>
    </div>
  </div>
  <div class="col-md-12 lineal">
    <div class="col-md-8">
      <%=render "parcial/markers"%>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</section>
